[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Installation — ROS 2 Documentation: Humble documentation
Type=Link
URL=https://docs.ros.org/en/humble/Installation.html
Icon=text-html
Name[it_IT]=00 Collegamento a Installation — ROS 2 Documentation: Humble documentation
