[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Corso: Autonomous and Mobile Robotics M | Virtuale
Type=Link
URL=https://virtuale.unibo.it/course/view.php?id=62147
Icon=text-html
Name[it_IT]=Collegamento a Corso: Autonomous and Mobile Robotics M | Virtuale | A.A. 2024-2025
